nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  width: 90px;
  background-color: #cbd2d9;
  border-left: 15px solid #716dac;
  margin-right: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-left: 7rem;
}
header input:first-child {
  width: 80%;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 30px;
  color: #716dac;
  align-self: end;
  margin-top: 40px;
  background-color: #222134da;
  margin-right: 20px;
}
header input:last-child {
  width: 20%;
  align-self: flex-end;
  padding: 10px 15px;
  outline: none;
  border: 3px solid #cbc7ff;
  background-color: transparent;
  color: #cbc7ff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s;
}
header input:last-child:hover {
  background-color: #cbc7ff;
  border: none;
  color: #32314c;
  border: 3px solid #cbc7ff;
  filter: drop-shadow(1px 2px 5px #716dac);
}
header input:first-child::placeholder {
  color: #716dac56;
}
#logo {
  margin-top: 20px;
  color: #716dac;
  width: 95%;
}
#github-logo,
#instagram-logo {
  width: 70%;
}
#instagram-logo {
  filter: sepia(80%) hue-rotate(247deg) saturate(2);
}
