@font-face {
  font-family: "FortniteFont";
  src: url("./assets/font/fortnite.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "FortniteFont";
  letter-spacing: 1.3px;
}
html,
body,
#root,
.App {
  height: 100%;
}
body {
  background-color: #14131d;
  background-image: url(./assets/images/pattren.png);
}
header {
  display: flex;
}